body{
  margin:0;
  padding:10px;
  font-family:sans-serif;
  font-size:11px;
}
.select{
  width:auto;
  height:auto;
  padding:2px;
  font-size:11px;
  text-align:center;
  margin-bottom:0px;
}
.label{
  width:auto;
  white-space: nowrap;
  text-align:left;
  font-size:11px;
  padding:0px ;
}
.label-tag{
  width:auto;
  white-space: nowrap;
  text-align:center;
  font-size:11px;
  padding-left:4px;
  padding-right:4px;
  margin:1px;
  border-radius:4px;
  background-color: #f3f3f3;
}
.btn{
  font-size:11px;
  padding-top:1px;
  padding-bottom:1px;
}
.row{
  display:flex;
  gap:1px;
  padding:0px;
  border:2px solid #aaa;
}

.column{
  flex:1;
  font-size:11px;
  border-radius:6px;
  padding:0px;
  margin-bottom:0px;
}
.column-unit{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:11px;
  border-radius:6px;
  padding:1px;
  border:1px solid #aaa;
}
.row-cost{
  display:flex;
  flex-direction: row;
  gap:0px;
  padding:0px;
}
.row-busho{
  display: flex;
  flex-direction: row;
  font-size:11px;
  border-radius:2px;
  border:1px solid #aaa;
}
.row-busho-basic{
  display: flex;
  flex-direction: row;
  font-size:11px;
  border-radius:6px;
}
.busho-name{
  width: 100px;
}
.column-cost{
  flex:0;
  flex-direction: column;
  font-size:11px;
  border-radius:6px;
  padding-left:6px;
  padding-right:6px;
  padding-top:0px;
  padding-bottom:0px;
}
.column-senpo{
  display: flex;
  flex-direction: column;
  font-size:11px;
  border-radius:6px;
}
.senpo{
  width: 100px;
}
.row-heigaku{
  display: flex;
  flex-direction: row;
  font-size:11px;
  border-radius:6px;
}
.column-heigaku{
  flex-direction: column;
  font-size:11px;
  border-radius:6px;
  margin-left: 2px;
}
.row-heigaku2{
  display: flex;
  flex-direction: row;
  font-size:11px;
  border-radius:6px;
}
.row-tokusei{
  display: grid;
  grid-template-rows: repeat(2, 1fr); /* 2行固定 */
  grid-auto-flow: column;             /* 要素を列方向に流す */
  grid-auto-columns: auto;           /* 列の幅を指定 */
  font-size:11px;
  border-radius:6px;
  border:1px solid #aaa;
}
.row-states{
  display: grid;
  grid-template-rows: repeat(2, 1fr); /* 2行固定 */
  grid-auto-flow: column;             /* 要素を列方向に流す */
  grid-auto-columns: auto;           /* 列の幅を指定 */
  font-size:11px;
  border-radius:6px;
  border:1px solid #aaa;
}
.row-tags{
  display: grid;
  grid-template-rows: repeat(2, 1fr); /* 2行固定 */
  grid-auto-flow: column;             /* 要素を列方向に流す */
  grid-auto-columns: auto;           /* 列の幅を指定 */
  font-size:11px;
  border-radius:6px;
  border:1px solid #aaa;
}
@media(max-width: 479px) {
  /*スマホ縦モードでの処理*/
  .rank{
    display: none;
  }
  .column-senpo{
  flex-direction: row;
  }
  .row-heigaku{
    display: none;
  }
  .column-heigaku{
    display: none;
  }
  .row-heigaku2{
    display: none;
  }
  .row-tokusei{
    display: none;
  }
  .row-states{
    display: none;
  }
  .row-tags{
    display: none;
  }
}
